.btn.btn-primary
{
    margin-bottom:15px;
    font-size: 16px;
    border-radius: 15px;
    border-color:  #000000;
    padding: 15px 50px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}
.btn.btn-primary:hover {
    background-color: #4CAF50;
    color: white;
    margin-bottom:15px;
    transform: translateY(4px);
}


#fixed:hover {
    background-image:none;
    margin-bottom:15px;
   }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom:10px;
    height: 400px;
   
  }

  .divider{
    width:5px;
    height:auto;
    display:inline-block;
}
